.jumbotron {
	background-image: url(../images/background.jpg);
	background-size: 500px;
	text-align: center;
	color: white;
}


body {
	background-color: #781F18;
	font-family: 'Lora', serif;
	color: #FAE599;
	text-align: center;

}

h1 {
	font-size: 50px;
}

#characterList {
	display: inline;
	margin: 10px;
}


#lincoln {
	display: inline-block;
	margin: 10px;
	height: 150px;
	width: 150px;
	background-color: seagreen;
	background-image: url(../images/Abraham_Lincoln.jpg);
	background-size: 150px;
}

#einstein {
	display: inline-block;
	margin: 10px;
	height: 150px;
	width: 150px;
	background-color: olive;
	background-image: url(../images/albert-einstein.jpg);
	background-size: 175px;
}

#susan {
	display: inline-block;
	margin: 10px;
	height: 150px;
	width: 150px;
	background-color: green;
	background-image: url(../images/susananthony.jpg);
	background-size: 150px;
}

#gandhi {
	display: inline-block;
	margin: 10px;
	height: 150px;
	width: 150px;
	background-color: palegreen;
	background-image: url(../images/ghandi.jpg);
	background-size: 200px;
}


#attackButton {
	display: none;
	background-color: brown;
	margin: 20px;
}

.imgName {
	margin-top: 0px;
	color: #385E0F;
	font-weight: bold;
	background: #E0EEE0;
}

.imgHealth {
	margin-bottom: 150px;
	color: green;
	font-weight: bold;
	background-color: white;
}