h1 {
	color: green;
}

#characterList {
	display: inline;
}

#lincoln {
	height: 100px;
	width: 100px;
}

#einstein {
	height: 100px;
	width: 100px;
}

#susan {
	height: 100px;
	width: 100px;
}

#gandhi {
	height: 100px;
	width: 100px;
}